<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <h1>Главная страница</h1>
    <h2>Дата и время: {{ current_date }}</h2>

    <h2>Ближайшие события:</h2>
    <ul>
        <li>Провести инструктаж сотруднику: {{ next_training_employee }}</li>
        <li>Замена спецодежды для сотрудника: {{ work_clothes_employee }}</li>
        <li>Продлить контракт сотруднику: {{ contract_employee }}</li>
        <li>День рождения у сотрудника: {{ birthday_employee }}</li>
    </ul>
</body>
</html>